.header
  .header__flex
    .header__flex--image
      = link_to (image_tag "material/logo/logo.png", height: "40", with: "60"), root_path
    .header__flex--form
      %form
        %input.input{type: "text", placeholder: "キーワードで検索"}
        = button_tag type: 'submit', class: "submit" do
          = icon('fa', 'search')
  .header__btns
    .btn
      = link_to categories_path do
        カテゴリー
      = link_to "#" do
        ブランド
    - if user_signed_in? 
      .btn
        = link_to "#{current_user.nickname}さん", "/users/#{current_user.id}"
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .btn
        = link_to "ログイン", user_session_path
        = link_to "新規登録", new_user_registration_path
        
