= link_to product_path(p.id) do
  .object
    .image
      = image_tag p.images.first.image.to_s, width: "200px", height: "200px"
    .parts 
      商品名 : 
      = p.name
    .parts
      値段 : 
      - price = p.price*1.1
      = price.truncate
      円
    .parts
      = link_to "詳細", "#"