= link_to product_path(p.id) do
  .object
    .image
      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
    .parts 
      商品名 : 
      = p.name
    .parts
      値段 : 
      - price = p.price*1.1
      = price.truncate
      円
    .parts
      = link_to "詳細", "#"