.section
  .header_logo
    = link_to (image_tag "material/logo/logo.png", height: "40", with: "60"), root_path
  .registration
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-registration
        .form-registration__info
          .form-registration__title
            ユーザー登録
          .field
            = f.label :nickname（必須）
            %br/
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"size"
          .field
            = f.label :email（必須）
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"size"
          .field
            = f.label :password（必須）
            - if @minimum_password_length
              %em
            -#     (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password", placeholder:"半角７文字以上", class:"size"
          .field
            = f.label :password_confirmation（必須）
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認", class:"size"
          .user-confirmation
            .user-confirmation__title
              本人確認
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              .confirmation-box
                .confirmation-box__form
                  .field
                    = f.label :お名前（必須）
                    %br/
                    = f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder:"姓", class:"confi"
                    = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"名", class:"confi"
                  .field
                    = f.label :ふりがな（必須）
                    %br/
                    = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder:"せい", class:"confi"
                    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder:"めい", class:"confi"
                  .field
                    = f.label :生年月日（必須）
                    %br/
                    = f.text_field :birth_day, autofocus: true, autocomplete: "birth_day", placeholder:"例: 1999-05-07", class:"confi"
        .form-registration__profile
          .field
            = f.label :image
            %br/
            = f.file_field :user_image, autofocus: true, autocomplete: "user_image", class:"user_image"
          .field
            = f.label :プロフィール
            %br/
            = f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"user_profile"
      .actions
        = f.submit "新規登録", class:"actions__b"
-# = render "devise/shared/links"
= render partial: "template/content_download"
= render partial: "template/footer"