= render partial: "template/header"
= render partial: "template/exhibition"

.user_show
  .user_show__product
    .show_title
      出品一覧
    .user_show__product--sell
      .objects
        - @products.each do |p|
          - if p.judgment == 1
            = link_to product_path(p.id) do
              .object
                .image
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
                .parts 
                  商品名 : 
                  = p.name
                .parts
                  値段 : 
                  - price = p.price*1.1
                  = price.truncate
                  円
                .parts
                  = link_to "詳細", "#"
    .show_title
      売却済み
    .user_show__product--sold 
      .objects
        - @products.each do |p|
          - if p.judgment == 2
            = link_to product_path(p.id) do
              .object
                .image
                  = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
                .parts
                  商品名 :
                  = p.name
                .parts
                  値段 : 
                  - price = p.price*1.1
                  = price.truncate
                  円
                .parts
                  = link_to "詳細", "#"
  .user_show__devise
    .user_show__devise--title
      ユーザー情報
    .user_show__devise--icon
      .icon
        = image_tag current_user.user_image.to_s
      .nickname
        = current_user.nickname
      .profile
        = current_user.introduction
        .destination_btn
          = link_to"ユーザー情報変更", edit_user_path
    .user_show__devise--info
      .show_title
        本人情報
        .real_name
          .first_name
            .name_title
              名前
        .show_form_flex
          .show_user_titles
            .show_user_title
              メールアドレス
            .show_user_title
              パスワード
            .show_user_title
              郵便番号
            .show_user_title
              都道府県
            .show_user_title
              市区町村
            .show_user_title
              丁目番地
            .show_user_title
              建物名、号室
    -if @destination
      .destination_btn
        = link_to "配送先情報編集", edit_destination_path(@destination.id)
    -else
      .destination_btn
        = link_to "配送先情報登録", new_destination_path
    .user_show__devise--sold
      - if user_signed_in?
        = link_to "購入履歴", "https://pay.jp/d/"
    .user_show__devise--credit_card
      - if user_signed_in?
        = link_to "クレジットカード情報", card_index_path
    .user_show__devise--log_out
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete
= render partial: "template/footer"
