= render partial: "template/header"
= render partial: "template/exhibition"

.user_show
  .user_show__product
    .show_title
      出品一覧
    .user_show__product--sell
      .objects
        - @products.each do |p|
          - if p.judgment == 1
            = render partial: "template/object", locals: {p: p}
    .show_title
      売却済み
    .user_show__product--sold 
      .objects
        - @products.each do |p|
          - if p.judgment == 2
            = render partial: "template/object", locals: {p: p}
  .user_show__devise
    .user_show__devise--title
      ユーザー情報
    .user_show__devise--icon
      .icon
        = image_tag current_user.user_image.to_s, class:"gazo", onerror: "this.src='https://placehold.jp/150x150.png?text=NoImage'", height: "200", with: "200"
      .nickname
        = current_user.nickname
      .profile
        = current_user.introduction
    .user_show__devise--info
      .show_title
        本人情報             
        .show_form_flex
          .show_user_titles
            .show_user_title
              名前 : 
            .show_user_title
              メールアドレス : 
            .show_user_title
              郵便番号 : 
            .show_user_title
              都道府県 : 
            .show_user_title
              市区町村 : 
            .show_user_title
              丁目番地 : 
            .show_user_title
              建物名、号室 : 
          .show_user_titles
            - if @destination
              .show_user_title 
                = @destination.family_name
                = @destination.first_name
              .show_user_title 
                = @user.email
              .show_user_title
                = @destination.post_code
              .show_user_title
                = @destination.prefecture
              .show_user_title
                = @destination.city
              .show_user_title
                = @destination.adress
              .show_user_title
                = @destination.building_name


    

    .user_show__devise--destination
      -if @destination
        = link_to "配送先住所編集", edit_destination_path(@destination.id)
      -else
        = link_to "配送先住所登録", new_destination_path
    .user_show__devise--edit
      - if user_signed_in?
        = link_to"ユーザー情報変更", edit_user_path
    .user_show__devise--sold
      - if user_signed_in?
        = link_to "購入履歴", "https://pay.jp/d/"
    .user_show__devise--credit_card
      - if user_signed_in?
        = link_to "クレジットカード情報", card_index_path
    .user_show__devise--log_out
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete
= render partial: "template/footer"
