.section
  .header_logo
    = link_to (image_tag "material/logo/logo.png", height: "40", with: "60"), root_path
  .session
    .session__title
      ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .session-form
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class:"size"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder:"半角７文字以上", class:"size"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "ログイン", class:"actions__b"
    = render partial: "template/content_download"
    = render partial: "template/footer"
-# = render "devise/shared/links"

