= render partial: "template/header"


.card
  .card__title
    %label 登録クレジットカード情報
  .card__flex
    .card__flex--title
      カードナンバー
    .card__flex--info
      = "**** **** **** " + @default_card_information.last4

  .card__flex
    .card__flex--title
      有効期限
    .card__flex--info
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + "月" + " / " + exp_year + "年"

  = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
    %input{ type: "hidden", name: "card_id", value: "" }
    %button 削除する
  
  .back.card_margin
    = link_to "戻る", root_path
  .back
    = link_to "マイページへ", user_path(current_user.id)
  
  .card_note
    ※クレジットカード情報は、複数登録できません。
    別のカードを登録する際は、現在のカード情報を削除して下さい

= render partial: "template/footer"