= render partial: "template/header"
= render partial: "template/exhibition"

.selle_contents
  .user_show__devise--info
    .show_title_destination
      %span 配送先情報登録
      = form_for @destination do |f|
        .real_name
          .first_name
            .name_title
              性
            .name_title
              名
          .first_name_form
            .name_form
              = f.text_field :family_name, class: "user_input_name", placeholder: "性"
            .name_form
              = f.text_field :first_name, class: "user_input_name", placeholder: "名"
          .first_name
            .name_title
              セイ
            .name_title
              メイ
          .first_name_form
            .name_form
              = f.text_field :family_name_kana, class: "user_input_name", placeholder: "セイ"
            .name_form
              = f.text_field :first_name_kana, class: "user_input_name", placeholder: "メイ"
        .show_form_flex
          .show_user_titles
            .show_user_title
              郵便番号
            .show_user_title
              都道府県
            .show_user_title
              市区町村
            .show_user_title
              丁目番地
            .show_user_title
              建物名、号室
            .show_user_title
              電話番号
          .show_user_form
            .post_code
              = f.text_field :post_code, class: "show_post_input", placeholder: "郵便番号"
            .prefecture
              = f.text_field :prefecture, class: "show_user_input", placeholder: "都道府県"
            .city
              = f.text_field :city, class: "show_user_input", placeholder: "市区町村"
            .adress
              = f.text_field :adress, class: "show_user_input", placeholder: "丁目番地"
            .building_name
              = f.text_field :building_name, class: "show_user_input", placeholder: "建物名、号室"
            .password
              = f.text_field :phone_number, class: "show_user_input", placeholder: "電話番号"
            .selle_submit
          = f.submit "登録する", class: "submit"
= render partial: "template/footer"