= render partial: "template/exhibition"
= render partial: "template/header"

.show-main
  .product-main
    .parents-categories
      -@parents.each do |parent|
        .parents-category
          = link_to "#{parent.name}", category_path(parent)
    -@parents.each do |parent|
      .children-categories
        = link_to "#{parent.name}", category_path(parent), class:"main-title"
        -parent.children.each do |child|
          .children-category
            .child-category
              = link_to "#{child.name}", category_path(child), class:"sub-title"
            .grandchildren-categories
              -child.children.each do |grandchild|
                .grandchildren-category
                  = link_to "#{grandchild.name}", category_path(grandchild), class:"grandchildren-title"
    


= render partial: "template/content_download"
= render partial: "template/footer"