= render partial: "template/exhibition"
= render partial: "template/header"

.second-header
  .category-bar
    =link_to root_path, class:"transition" do
      %p.category-btn
        FURIMA
    %p.space
      >
    =link_to categories_path, class:"transition" do
      %p.category-btn
        カテゴリー一覧
    %p.space
      >
    - if @parent
      =link_to category_path(@parent), class:"transition" do
        %p.category-btn
          =@parent.name
      %p.space
        >
    - if @child
      =link_to category_path(@child), class:"transition" do
        %p.category-btn
          =@child.name
      %p.space
        >
    =link_to category_path(@grandchild), class:"transition" do
      %p.category-btn
        =@grandchild.name
.show-main
  .index
    .index-main
      .index-title
        %h2 
          ="#{@grandchild.name}の商品一覧"
      .product-lists
        - if @parent
          - @products.each do |product|
            - if product.judgment == 1
              .product-list
                =link_to product_path(product) do
                  %figure.product-list__image
                    = image_tag product.images.first.image.to_s, width: "200px", height: "150px"
                  .product-list__body
                    %h3
                      = product.name
                    .product-list__detail
                      %ul
                        %li
                          = product.price
                        %li
                          %i.fa.fa-star
                          0
                      %p (税込)
            - else
              .product-list
                =link_to product_path(product) do
                  %figure.product-list__image
                    = image_tag p.images.first.image.to_s, width: "200px", height: "150px"
                    %figure.product-list__image--second
                      =image_tag "https://3.bp.blogspot.com/-nsmeh2q3S3c/U-8GiO6Sx8I/AAAAAAAAk6Q/ICL70NoWs8Y/s800/pop_sold_out.png", class:"image_second"
                  .product-list__body
                    %h3
                      = product.name
                    .product-list__detail
                      %ul
                        %li
                          = product.price
                        %li
                          %i.fa.fa-star
                          0
                      %p (税込)

        -elsif @child
          - @products.each do |products|
            -products.each do |product|
              - if product.judgment == 1
                .product-list
                  =link_to product_path(product) do
                    %figure.product-list__image
                      =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class:"image"
                    .product-list__body
                      %h3
                        = product.name
                      .product-list__detail
                        %ul
                          %li
                            = product.price
                          %li
                            %i.fa.fa-star
                            0
                        %p (税込)
              - else
                .product-list
                  =link_to product_path(product) do
                    %figure.product-list__image
                      =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class:"image"
                      %figure.product-list__image--second
                        =image_tag "https://3.bp.blogspot.com/-nsmeh2q3S3c/U-8GiO6Sx8I/AAAAAAAAk6Q/ICL70NoWs8Y/s800/pop_sold_out.png", class:"image_second"
                    .product-list__body
                      %h3
                        = product.name
                      .product-list__detail
                        %ul
                          %li
                            = product.price
                          %li
                            %i.fa.fa-star
                            0
                        %p (税込)
        -else
          - @products.each do |products|
            -products.each do |product|
              - if product.judgment == 1
                .product-list
                  =link_to product_path(product) do
                    %figure.product-list__image
                      =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class:"image"
                    .product-list__body
                      %h3
                        = product.name
                      .product-list__detail
                        %ul
                          %li
                            = product.price
                          %li
                            %i.fa.fa-star
                            0
                        %p (税込)
              - else
                .product-list
                  =link_to product_path(product) do
                    %figure.product-list__image
                      =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class:"image"
                      %figure.product-list__image--second
                        =image_tag "https://3.bp.blogspot.com/-nsmeh2q3S3c/U-8GiO6Sx8I/AAAAAAAAk6Q/ICL70NoWs8Y/s800/pop_sold_out.png", class:"image_second"
                    .product-list__body
                      %h3
                        = product.name
                      .product-list__detail
                        %ul
                          %li
                            = product.price
                          %li
                            %i.fa.fa-star
                            0
                        %p (税込)


= render partial: "template/content_download"
= render partial: "template/footer"