= render partial: "template/header"

.edit__main
  .edit__product
    .product__title
      %h2 商品の情報を入力
    = form_for @product do |f|
      .product__image
        %ul
          %li
            %h3 出品画像
          %li
            .requir 必須
        .clearfix
        %p 最大10枚までアップロードできます
        = f.fields_for :product_images, @product.product_images.first do |image|
          .product__image__dropzone.clearfix
            .preview
            .product__image__dropzone__input
              = image.label :product_image, for: "upload-image" do
                .input__area
                  = image.file_field :product_image, id: "upload-image", class: "upload-image", 'data-image': 0
                .product__image__dropzone__input__description
                  .product__image__dropzone__input__description__text
                    ドラッグアンドドロップ
                    %br/
                    またはクリックしてファイルをアップロード
          .product__image__dropzone2.clearfix
            .preview2
            .product__image__dropzone2__input2
              = image.label :product_image, for: "upload-image" do
                .input-area
                  = image.file_field :product_image, id: "upload-image", class: "upload-image", 'data-image': 0
                .product__image__dropzone2__input2__description
                  .product__image__dropzone2__input2__description__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
        .product__name
          = f.label :name, "商品名"
          %br/
          = f.text_field :name
        .product__description
          = f.label :descriotion, "商品の説明"
          %br/
          = f.text_field :description
        .product__price
          = f.label :price, "商品価格"
          %br/
          = f.text_field :price
        .product__status
          = f.label :status, "商品の状態"
          %br/
          = f.text_field :status
