.selle_contents
  = form_for @product do |f|
    .selle_contents__content
      .selle_contents__content--title
        %h1
          出品画像
        .requir
          必須
      .selle_contents__content--info
        10枚までアップロード出来ます。
      .selle_contents__content--form
        = f.fields_for :images, @images do |i|
          = i.label :image, class: "fa fa-image file_icon" 
          = i.file_field :image, multiple: true, type: 'file', name: "images[image][]" 
    .border_bottom


    .selle_contents__content
      .selle_contents__content--title
        %h1 商品名
        .requir
          必須
      .selle_contents__content--form
        = f.text_field :name, class: "input", placeholder: "例）ボールペン"

      .split

      .selle_contents__content--title
        %h1 商品の説明
        .requir
          必須
      .selle_contents__content--form
        = f.text_area :description, class: "text_area", placeholder: "商品の説明（購入時期、色、素材、用途など）"
    .border_bottom



    .selle_contents__content
      .selle_contents__content--navi 
        商品の詳細
      .selle_contents__content--title
        %h1 カテゴリー
        .requir
          必須
      .selle_contents__content--category
        = f.fields_for :category, @category do |n|
          = n.select :name, @category_parent_array, {}, {class: 'product_category', id: 'product_category'}
      .split

      .selle_contents__content--title
        %h1 商品状態
        .requir
          必須
      .selle_contents__content--form
        = f.select :status, [["新品", "新品"], ["目立った傷なし","目立った傷なし"],  ["やや傷あり","やや傷あり"],  ["傷あり","傷あり"]]
      .split

      .selle_contents__content--title
        %h1 ブランド
        .any
          任意
      .selle_contents__content--form
        = f.fields_for :brand, @brand do |b|
          = b.text_field :name, class: "input", placeholder: "例）Apple"
    .border_bottom


    .selle_contents__content
      .selle_contents__content--navi 
        配送について
      .selle_contents__content--title
        %h1 商品のサイズ
        .requir
          必須
      .selle_contents__content--form
        = image_tag "material/pict/サイズ一覧.png", height: "200", with: "400"
        = f.select :size, [["60サイズ", "60サイズ"], ["80サイズ","80サイズ"],  ["100サイズ","100サイズ"],  ["120サイズ","120サイズ"],  ["140サイズ","140サイズ"],  ["160サイズ","160サイズ"],  ["170サイズ","170サイズ"]]
      .split
      .selle_contents__content--title
        %h1 配送量の負担
        .requir
          必須
      .selle_contents__content--form
        = f.fields_for :shipping, @shipping do |c|
          = c.select :cost, [["送料込み（出品者負担）","送料込み（出品者負担）"], ["着払い（購入者負担）","着払い（購入者負担）"]], class: "category"
      .split

      .selle_contents__content--title
        %h1 発送元の地域
        .requir
          必須
      .selle_contents__content--form
        = f.fields_for :shipping, @shipping do |a|
          = a.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--"
      .split

      .selle_contents__content--title
        %h1 発送までの日数
        .requir
          必須
      .selle_contents__content--form
        = f.fields_for :shipping, @shipping do |d|
          = d.select :days, [["１〜２日で発送", "１〜２日で発送"], ["２〜３日で発送","２〜３日で発送"],  ["４〜７日で発送","４〜７日で発送"]]
      .split
    .border_bottom



    .selle_contents__content
      .selle_contents__content--navi 
        価格(300~9,999,999円)
      .selle_contents__content--price
        .selling_price
          .selle_contents__content--title
            %h1 販売価格
            .requir
              必須
          .selle_contents__content--form
            ¥
            = f.text_field :price, class: "input yen", id: "price_calc", style: "text-align: right;"
        .final_value
          .commission
            販売手数料(10%)
          .total_price
            ¥ ー
            
      .split
      .selle_border
      .split

      .selle_contents__content--profit
        .final_value
          .profit
            利益
          .total_profit
            ¥ ー
        .selle_submit
          = f.submit "出品する", class: "submit"
          = link_to "もどる", root_path, class: "return"
= render partial: "template/footer"