%link{href: "https://unpkg.com/swiper/css/swiper.min.css", rel: "stylesheet"}/
%script{src: "https://unpkg.com/swiper/js/swiper.min.js"}

= render partial: "template/header"
= render partial: "template/exhibition"
= render partial: "template/purchase"

.product_btns
  - if user_signed_in? && current_user.id == @products.user_id
    .edit
      = link_to edit_product_path(@products) do
        %p 商品を編集
    .destroy
      = link_to product_path(@products.id), method: :delete do
        %p 商品を削除
    

.second-header
  .category-bar
    =link_to "root_path", class:"transition" do
      %p.category-btn
        FURIMA
    %p.space
      >
    - if @parent
      =link_to category_path(@parent), class:"transition" do
        %p.category-btn
          =@parent.name
      %p.space
        >
    - if @child
      =link_to category_path(@child), class:"transition" do
        %p.category-btn
          =@child.name
      %p.space
        >
    =link_to category_path(@grandchild), class:"transition" do
      %p.category-btn
        =@grandchild.name
    %p.space
      >
    %p.category-btn
      =@products.name

.show-main
  - if @products.judgment == 1
    .product-main
      .product-name
        %h2 
          = @products.name
      .swiper-container.gallery-top
        .swiper-wrapper
          - @products.images.each do |image|
            .swiper-slide
              = image_tag image.image.url
        .swiper-button-next.swiper-button-gray
        .swiper-button-prev.swiper-button-gray
      .swiper-container.gallery-thumbs
        .swiper-wrapper
          - @products.images.each do |image|
            .swiper-slide
              = image_tag image.image.url, claass:"ima",  width: "200px", height: "200px"
      .product-price
        %span
          ¥
          = @tax_in_price.round
          円
        .product-price__detail
          %span (税込み)
      .product-detail
        %p 商品情報
      .table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = @products.user.nickname
            %tr
              %th 商品説明
              %td
                = @products.description
            %tr
              %th カテゴリー
              %td
                =link_to category_path(@parent), class:"transition table__category" do
                  =@parent.name
                %br
                =link_to category_path(@child), class:"transition table__category" do
                  =@child.name
                %br
                =link_to category_path(@grandchild), class:"transition table__category" do
                  =@grandchild.name
            %tr
              %th 
                ブランド
              %td
                - if @products.brand.name.present?
                  = @products.brand.name
            %tr
              %th 商品のサイズ
              %td
                = @products.size
            %tr
              %th 商品の状態
              %td
                = @products.status
            %tr
              %th 配送料の負担
              %td 
                = @products.cost
            %tr
              %th 発送元の地域
              %td
                = @products.prefecture.name
            %tr
              %th 発送日の目安
              %td 
                = @products.days
      .option-area
        %ul
          %li.optional-btn.like-btn#like-btn
            %i.fa.fa-star
            お気に入り 0
        %ul
          %li.optional-btn
            =link_to "#" do
              %i.fa.fa-flag
              不適切な商品の通報
    .product-form
      = form_for(@products) do |f|
        %textarea
        %p.notice-message
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br
        %button.comment-btn{ type: 'submit' }
          %i.fa.fa-comment
          コメントする

  - else
    .product-main.sold_main
      .product-name
        .sold
          Sold
        %h2 
          = @products.name
      .swiper-container.gallery-top
        .swiper-wrapper
          - @products.images.each do |image|
            .swiper-slide
              = image_tag image.image.url
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white
      .swiper-container.gallery-thumbs
        .swiper-wrapper
          - @products.images.each do |image|
            .swiper-slide
              = image_tag image.image.url, claass:"ima", width: "200px", height: "200px"
      .product-price
        %span
          ¥
          = @tax_in_price.round
          円
        .product-price__detail
          %span (税込)
      .product-detail
        %p 商品情報
      .table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = @products.user.nickname
            %tr
              %th 商品説明
              %td
                = @products.description
            %tr
              %th カテゴリー
              %td
                =link_to category_path(@parent), class:"transition table__category" do
                  =@parent.name
                %br
                =link_to category_path(@child), class:"transition table__category" do
                  =@child.name
                %br
                =link_to category_path(@grandchild), class:"transition table__category" do
                  =@grandchild.name
            %tr
              %th 
                ブランド
              %td
                - if @products.brand.name.present?
                  = @products.brand.name
  .links
    %p.links_left
      = link_to "#" do
        < 前の商品
    %p.links_right
      = link_to "#" do
        後ろの商品 >
  .related-items
    =link_to category_path(@parent) do
      ="#{@parent.name}をもっとみる"
      
= render partial: "template/content_download"
= render partial: "template/footer"

:javascript
  var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 10,
    slidesPerView: 4,
    loop: false,
    freeMode: true,
    loopedSlides: 5,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  });
  var galleryTop = new Swiper('.gallery-top', {
    spaceBetween: 10,
    loop: false,
    loopedSlides: 5,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    thumbs: {
      swiper: galleryThumbs,
    },
  });
